<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HrManagement.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="4194304" maxUrl="65535" maxAllowedContentLength="2147483648"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.web>
    <sessionState
  mode="InProc"
  cookieless="true"
  timeout="300" />
  </system.web>
</configuration>
<!--ProjectGuid: ab6eb3ae-d40a-42b8-8873-11cc949c1161-->