@{
    ViewData["Title"] = "Add Employee";
}

<style>
    .help-block.error {
        margin-bottom: 5px;
    }

    .has-error {
        color: red;
    }

        .has-error .form-control {
            border-color: red;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
</style>

@*<!--start:::Main--> *@
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    @*<!--begin::Content wrapper--> *@
    <div class="d-flex flex-column flex-column-fluid">
        @* <!--begin::Toolbar--> *@
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    @* <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0"></h1> *@
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar container-->
        </div>
        @* <!--end::Toolbar--> *@
        @*<!--begin::Content--> *@
        <div id="kt_app_content" class="app-content flex-column-fluid">
            @*<!--begin::Content container--> *@
            <div id="kt_app_content_container" class="app-container container-fluid">
                <div class="container-fluid" id="app-content-container-fluid">
                    <div class="card mb-3">
                        <div class="card">
                            <div class="card-body">
                                <form id="add-update-employee-form" novalidate>
                                    <div class="row my-6">
                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                            <label data-i18n="Image/Photo" class="form-label">Profile Photo</label>
                                            <div class="photo-ctrl">
                                                <div class="form-group mb-3" style="height:160px; width: 100%;">
                                                    <img crossorigin="Anonymous" style="max-height: 100%;max-width:100%" class="user-photo" id="user-photo" name="user-photo" data-id="user-photo" src="/Images/no-image.svg">
                                                    <span class="col-sm-5 mt-2 messages"></span>
                                                </div>
                                                <div class="edit-btns mt-5 text-center hidden" style="display:none">
                                                    <button type="button" class="btn has-img btn-danger btn-del-image hidden">
                                                        <i class="fa fa-times"></i> Delete
                                                    </button>
                                                </div>
                                                <div class="image-select-buttons" style="display:block">
                                                    <div class="mb-3 form-group ">
                                                        <input type="file" class="invisible profile-photo" id="profile-photo" name="profile-photo" accept="image/*" hidden />
                                                        <span class="col-sm-5 mt-2 messages"></span>
                                                        <button type="button" class="btn no-img btn-primary btn-upload-photo mt-10px">
                                                            <i class="fa fa-upload"></i> Upload Photo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Employee Code</label>
                                                <input type="text" class="form-control" name="employee-code" id="employee-code" placeholder="Enter Employee Code">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Hiring Date</label>
                                                <input class="form-control date-picker" placeholder="Pick a date" id="hiring-date" name="hiring-date" />
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">DOB</label>
                                                <input class="form-control date-picker" placeholder="Pick a date" id="dob" name="dob" />
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Gender</label>
                                                <select class="form-select form-control" id="gender" name="gender" data-control="select2" data-placeholder="Select Gender" data-allow-clear="true">
                                                    <option></option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Email</label>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Phone Number</label>
                                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Phone Number">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">City</label>
                                                <input type="text" class="form-control" name="city" id="city" placeholder="Enter Phone Number">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Postal Code</label>
                                                <input type="text" class="form-control" name="postal-code" id="postal-code" placeholder="Enter Postal Code">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Department</label>
                                                <select class="form-select form-control" id="department" name="department" data-control="select2" data-placeholder="Select Department" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Site</label>
                                                <select class="form-select form-control" id="site" name="site" data-control="select2" data-placeholder="Select Site" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Address</label>
                                                <textarea type="text" class="form-control resize-none" name="address" id="address" placeholder="Enter Address" maxlength="200" rows="2"></textarea>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Position</label>
                                                <select class="form-select form-control" id="position" name="position" data-control="select2" data-placeholder="Select Position" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Marital Status</label>
                                                <select class="form-select form-control" id="marital-status" name="marital-status" data-control="select2" data-placeholder="Select Marital Status" data-allow-clear="true">
                                                    <option></option>
                                                    <option value="Married">Married</option>
                                                    <option value="NA">N/A</option>
                                                    <option value="Single">Single</option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Direct Manager</label>
                                                <select class="form-select form-control" id="manager" name="manager" data-control="select2" data-placeholder="Select Manager" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Alternative Email</label>
                                                <input type="text" class="form-control" name="alternative-email" id="alternative-email" placeholder="Enter Alternative Email">
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Probation Date From</label>
                                                <input class="form-control date-picker" placeholder="Pick a date" id="probation-from" name="probation-from" />
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Probation Date To</label>
                                                <input class="form-control date-picker" placeholder="Pick a date" id="probation-to" name="probation-to" />
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Employment Status</label>
                                                <select class="form-select form-control" id="employment-status" name="employment-status" data-control="select2" data-placeholder="Select Employment Status" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Employment Level</label>
                                                <select class="form-select form-control" id="employment-level" name="employment-level" data-control="select2" data-placeholder="Select Employment Level" data-allow-clear="true">
                                                    <option></option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                            <div class="mb-3 form-group">
                                                <label class="form-label">Employee Status</label>
                                                <select class="form-select form-control" id="employee-status" name="employee-status" data-control="select2" data-placeholder="Select Employee Status" data-allow-clear="true">
                                                    <option></option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Pending</option>
                                                    <option value="3">Terminated</option>
                                                </select>
                                                <span class="col-sm-5 mt-2 messages"></span>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">

                                <div class="row">
                                    <div class="justify-content-end text-end">
                                        <span href="#" class="btn btn-primary float-end" id="add-update-employee">
                                            <i class="fa fa-save fs-4 me-2"></i>
                                            Save
                                        </span>
                                    </div>
                                </div>
                                @*                                 <div class="btn-list justify-content-right">
                                    <span href="#" class="btn btn-primary btn-list" id="add-update-site">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </span>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @* <script src="@Url.Content("/lib/jquery/jquery.min.js")" type="text/javascript"></script> *@
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
    <script src="@Url.Content("/scripts/employee/addupdateemployee.js")" asp-append-version="true"></script>
    <script src="@Url.Content("/js/validate.min.js")"></script>

    <script>
        var curPage = "AddEmployees";

        var DropDownsData = {};
        @if (ViewBag.DropDownData != null)
        {
            <text>
                     DropDownsData = @(Html.Raw(Json.Serialize(ViewBag.DropDownData)))
            </text>
        }
    </script>
}
