@{
    ViewData["Title"] = "HeadCounts";
}


@*<!--start:::Main--> *@
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    </ul>
                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">
                <div class="container-fluid" id="app-content-container-fluid">

                    <div class="row gy-5 g-xl-1 mt-5">
                        <div class="card card-flush">
                            <div class="card-header pt-7 mb-3">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label text-black">
                                    </span>
                                </h3>
                            </div>
                            <div class="card-body pt-4">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                        <div class="mb-3 form-group">
                                            <label class="form-label">Date From</label>
                                            <input class="form-control date-picker" placeholder="Pick a date" id="datefrom" name="datefrom" />
                                            <span class="col-sm-5 mt-2 messages"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                        <div class="mb-3 form-group">
                                            <label class="form-label">Date To</label>
                                            <input class="form-control date-picker" placeholder="Pick a date" id="dateto" name="dateto" />
                                            <span class="col-sm-5 mt-2 messages"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 align-content-center">
                                        <label class="form-label"></label>
                                        <div class="d-flex text-end gap-5">
                                            <span class="btn btn-secondary float-end d-none" id="btnClear">
                                                <i class="fa fa-times fs-4 me-2"></i>
                                                Clear
                                            </span>
                                            <span class="btn btn-primary" id="btnSearch">
                                                <i class="fa fa-search  fs-4 me-2"></i>
                                                Search
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-8">
                                        <div class="headcount_stats pt-4" id="headcount_stats" style="height:50vh">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="row" id="headcount-wise-stats">
                                            <div class="col-xl-12">
                                                <div class="card card-flush h-150px shadow-sm border-start border-0 border-3 border-primary mb-4 widget report-widget dark-mode-background">
                                                    <div class="card-body pt-4">
                                                        <h6 class="text-uppercase">
                                                            AVG employees per selected period
                                                        </h6>
                                                        <div class="text-primary fs-2tx" id="avg-employee"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                <div class="card card-flush h-150px shadow-sm border-start border-0 border-3 border-primary mb-4 widget report-widget dark-mode-background">
                                                    <div class="card-body pt-4">
                                                        <h6 class="text-uppercase">
                                                            New Hires per selected period
                                                        </h6>
                                                        <div class="text-primary fs-2tx" id="new-employee"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        var curPage = "HeadCountsReports";
    </script>
    <script type="text/html" id="department-template">
        <div class="col-xl-6">
            <div class="card card-flush h-150px shadow-sm border-start border-0 border-3 border-primary mb-4 widget report-widget dark-mode-background">
                <div class="card-body pt-4">
                    <h6 class="text-uppercase" id="departmentname"></h6>
                    <div class="text-primary fs-2tx" id="department-total"></div>
                    <div class="text-gray-500 fs-2x" id="department-percent"></div>
                </div>
            </div>
        </div>
    </script>
    <script src="@Url.Content("~/scripts/reports/headcountsreport.js")" asp-append-version="true"></script>
}