@model HrManagement.Controllers.ExecuteShowText
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowText</title>
</head>
<body>
    <div>
        @Model.Data
    </div>
</body>
</html>
